.default{
font-family: Arial, Helvetica, sans-serif;
padding: 20px;
transition: backgroud-color 0,3s ease;
}

.dark{
    background-color: #333;
    color: #fff;
}

.light{
    background-color: #fff;
    color: #333;
}